{% extends 'base.html' %}
{% block content %}
{% block super %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> {% endblock %}
<div class="container">
    {% for image in photos %}
    <div class="row">
        <div class="col-md-4">
            <h1> {{image.name}} </h1>
            <h2> {{image.description}} </h2>

            <button type="button" class="btn btn-styled" data-toggle="modal" data-target="#myModal{{image.id}}">
            <img width="400px" src=" {{pic.image.url}} " class="img-responsive" alt="one  image">
            <a class="btn btn-success" href="/single_pic/{{pic.id}} ">More</a> 
        </div>
        
    </div>
        
        </button> 
        <br> {% endfor %} {% for pic in photos %}
            <div class="modal fade" id="myModal{{image.id}}" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h1 class="modal-title">{{image.name}}</h1>
                        </div>
                        <div class="modal-body">
                            <img width="400px" class="img-responsive" src=" {{pic.image.url}} " alt="img">
                            <p>{{image.description}}</p>
                            <p>category:{{image.category}}</p>
                            <p>Location: {{image.location}} </p>
                        </div>
                        <div class="modal-footer">
                            <p>{{image.author}}</p>
                            <a href="{{pic.image.url }}"> <input class="form-control" type="text" value="{{ pic.image.url }}" id="link"></a>
                            <a onclick="myFunction()"><button type="button" class="btn btn-outline-success">Copy
                                Link</button></a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        {% endfor %}

    </div>
    <style>
        body {
            background-image: url("https://images.pexels.com/photos/1592384/pexels-photo-1592384.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
            height: 90vh;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            color: #fff;
        }
        
        .modal {
            color: black;
        }
    </style>
    {% endblock %}