{% extends 'base.html' %} 
{% block content %}
<div class="container">

    <div class="row">
        <div class="col-md-4">

            {% for one_image in locationimg %}
            <h1> {{one_image.name}} </h1>
            <h2> {{one_image.description}} </h2>


            <button type="button" class="btn btn-styled" data-toggle="modal" data-target="#myModal{{one_image.id}}">
        <img width="400px" class="img-responsive" src=" {{one_pic.image.url}} " alt="one pic image">
   
    </button> <br>
            <a class="btn btn-success" href="/single_pic/{{one_pic.id}} ">More</a> {% endfor %} {% for one_pic in locationpic %}
            <div class="modal fade" id="myModal{{one_image.id}}" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{one_image.name}}</h4>
                        </div>
                        <div class="modal-body">
                            <img width="400px" class="img-responsive" src=" {{one_pic.image.url}} " alt="img">
                            <p>{{one_image.description}}</p>
                            <p>category:{{one_image.category}}</p>
                            <p>Location: {{one_image.location}} </p>
                        </div>
                        <div class="modal-footer">
                            <p>{{image.author}}</p>
                            <a href="{{ one_pic.image.url }}"> <input class="form-control" type="text" value="{{ one_image.image.url }}" id="link"></a>
                            <a onclick="myFunction()"><button type="button" class="btn btn-outline-success">Copy
                                Link</button></a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endfor %}
</div>
<style>
    body {
        background-image: url("https://images.pexels.com/photos/1592384/pexels-photo-1592384.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        height: 100vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #ffffff;
    }
    
    .modal {
        color: black;
    }
</style>
{% endblock %}